body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4c63af;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

footer {
  background-color: #4c63af;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.patient-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    color: #000000;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.medical-history-list li {
    margin-bottom: 10px;
  }
  
  ul.upcoming-appointments-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul.available-appointments-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
    .error-message {
    color: #ff0000;
    margin-top: 10px;
  }
  